@model VidlyCore.Models.Movie
@{
    ViewData["Title"] = "Movie Details";
}
<h1>@Model.Name</h1>
<ul>
    <li><strong>Genre:</strong> @Model.Genre.Name</li>
    <li><strong>Release Date:</strong> @Model.ReleaseDate.ToString("d")</li>
    <li><strong>Date Added:</strong> @Model.DateAdded.ToString("d")</li>
    <li><strong>Number in Stock:</strong> @Model.NumberInStock</li>
</ul>